@page
@model PetWorldWeb.Pages.Users.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<h4>@ViewData["Title"]</h4>
<p>
    Check your email to do the next steps. If you do not receive any email, 
    <a asp-page="/Users/ForgotPassword">click here to re-enter</a>.
</p>